h2{
    color: #234944;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.dashboard{
    display: inline-block;
    position: relative;
    border-radius: 6px;
    margin-bottom: 1.875rem;
    width: 800px;
    min-height: 800px;
    
    table{
        width: 100%;
        border-collapse: collapse;
        text-indent: initial;
        border-spacing: 0;
        border-bottom: 1px solid #ddd;

        tr{
            border-bottom: 1px solid #ddd;
            vertical-align: middle;
            height: 5rem;
        }

        .center{
            text-align: center;
            align-items: center;
            justify-content: center;
        }

    }

    .icon{
        font-size: 0.5rem;
    }

}